<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ExtentReport" parallel="false">

    <listeners>
        <listener class-name="ListenerLayer.ITestListenerwithdp"></listener>
    </listeners>

    <test name="ExtentReport">
        <classes>

            <class name="ExtentreportwithdpTest" />



        </classes>
    </test>

</suite>